@charset "utf-8";

* {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var, td, input, select, textarea, button {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, th{font-weight: 600;}
strong {font-weight: 600;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
fieldset, img, input, button, select, textarea {vertical-align: middle; border: 0;}
button {border: 0 none; background-color: transparent; cursor: pointer; margin: 0; padding: 0; overflow: visible;}
button::-moz-focus-inner {border: 0; padding: 0;}
a {cursor:pointer; color: #555; font-size: 15px; text-decoration:none;}
a:active, a:hover {}
address, cite, code, dfn, var {font-style: normal; font-weight: normal;}
label {cursor: pointer;}
hr {display: none;}
table {border-spacing: 0px; border: 0px; border-collapse: collapse;}
legend, caption {visibility: hidden; font-size: 0; width: 0; height: 0; line-height: 0;}
li {list-style: none;}
select {border-radius:0}
select::-ms-expand {display:none}
select::-webkit-expand { display: none; }
select::-moz-expand { display: none; }
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}

input.txt, .optionbox select {width: 100%; height: 100%; background-color:#fff; border:0; border-radius:0}
input.txt:focus {outline: none;}
input.file {padding:0; background:#fff; border:0; border-radius:0}
input.radio {vertical-align:middle}
input.checkbox {vertical-align:middle}										 
/*input::-ms-clear {display:none}*/
input::-webkit-input-placeholder {color:#999 !important; font-weight: 600;}
input:-moz-placeholder {color:#999 !important; font-weight: 600;}
input::-moz-placeholder {color:#999 !important; font-weight: 600;}
input:-ms-input-placeholder {color:#999 !important; font-weight: 600;}

textarea {overflow-x:hidden; overflow-y:auto; resize:none; background:#fff}
textarea::-webkit-input-placeholder {color:#c6c5c5 !important;}
textarea:-moz-placeholder {color:#c6c5c5 !important;}
textarea::-moz-placeholder {color:#c6c5c5 !important;}
textarea:-ms-input-placeholder {color:#c6c5c5 !important;}
