@charset "utf-8";

.inputgb{background:#efefef;}

.txtl{text-align:left !important;}
.txtr{text-align:right !important;}
.txtc{text-align:center !important;}

.fts8{font-size:8px !important;}
.fts9{font-size:9px !important;}
.fts10{font-size:10px !important;}
.fts11{font-size:11px !important;}
.fts12{font-size:12px !important;}
.fts13{font-size:13px !important;}
.fts14{font-size:14px !important;}
.fts15{font-size:15px !important;}
.fts16{font-size:16px !important;}
.fts17{font-size:17px !important;}
.fts18{font-size:18px !important;}
.fts19{font-size:19px !important;}
.fts20{font-size:20px !important;}

.hgt10{height:10px !important;}
.hgt20{height:20px !important;}
.hgt30{height:30px !important;}
.hgt40{height:40px !important;}
.hgt50{height:50px !important;}
.hgt60{height:60px !important;}
.hgt70{height:70px !important;}
.hgt80{height:80px !important;}
.hgt90{height:90px !important;}
.hgt100{height:100px !important;}
.hgt110{height:110px !important;}
.hgt120{height:120px !important;}
.hgt130{height:130px !important;}
.hgt140{height:140px !important;}
.hgt150{height:150px !important;}
.hgt160{height:160px !important;}
.hgt170{height:170px !important;}
.hgt180{height:180px !important;}
.hgt190{height:190px !important;}
.hgt200{height:200px !important;}