@charset "utf-8";

body {width:100%; /*max-width: 1440px; padding:0 20px;*/}

.header .inner {position: relative; width: 100%; height: 150px; margin: 0 auto; padding: 0 50px;}
.header .left_col {padding-top: 20px; font-size: 0;}
.header .left_col .logo a {display: inline-block;}
.header .logo img {display: block;}
.header .go {display: inline-block; margin-left: 12px; vertical-align: 0px;}
.header .go img {display: block;}

.header .top_menu {position: absolute; right: 50px; top: 17px; font-size: 14px;}
.header .top_menu > span {display: inline-block; height: 30px; font-weight: 300; line-height: 30px; vertical-align: top;}
.header .top_menu .t {color: #666;}
.header .top_menu .t span {color: #0465be; font-weight: 700;}
.header .top_menu .t span::before {content: ""; display: inline-block; width: 21px; height: 24px; margin-right: 8px; background: url(../images/ico_person.png) no-repeat center; vertical-align: -5px;}
.header .top_menu .d {color: #888;}
.header .top_menu .btn {margin-left: 6px;}

.gnb {max-width:1200px; width:100%; margin-top: 40px;padding-right: 100px;}
.gnb > ul {display:flex;justify-content: space-between;}
.gnb > ul > li {position: relative;}
.gnb > ul > li > a {display: block; color: #333; font-size: 20px; font-weight: 700;}
.gnb > ul > li a.manager {color: #004986;}

.submenu {opacity:0; visibility: hidden; position:absolute;left: -13px;top:100%; min-width:260px; background:#fff;border:1px solid #ddd;border-radius:8px;box-shadow:0 8px 24px rgba(0,0,0,.08);z-index:10;padding: 15px 15px; transition:.3s}
.gnb > ul > li > a.open ~ .submenu {opacity:1; visibility: visible;}
.submenu h3 {font-size: 17px;font-weight:700;margin-bottom:10px;}
.submenu h3 ~ h3 {margin-top:15px;}
.submenu ul ~ ul {margin-top:5px;}
.submenu ul li ~ li {margin-top:5px;}
.submenu ul li a {color:#777; transition:.3s}
.submenu ul li a:hover {color:#111; text-decoration:underline}
.submenu .subClose {position: absolute; right: 15px; top: 15px; width:25px; height:25px;}
.submenu .subClose::before,
.submenu .subClose::after {content: ""; position: absolute; top: 50%; left: 50%; width: 16px; height: 2px; background: #111; transform-origin: center; transition: 0.3s;}
.submenu .subClose::before {transform: translate(-50%, -50%) rotate(45deg);}
.submenu .subClose::after {transform: translate(-50%, -50%) rotate(-45deg);}

.gnb > ul > li > a.manager ~ .submenu {background: #f2f2f2;}
.gnb > ul > li > a.manager ~ .submenu h3 {color:#004986}

.util_menu {position: absolute; right: 50px; top: 80px;}
.util_menu ul {font-size: 0; text-align: right;}
.util_menu ul li {display: inline-block; vertical-align: top;}
.util_menu ul li + li {margin-left: 17px;}
.util_menu ul li a {display: block; width: 60px; height: 60px;}
.util_menu .mail span {display: block; position: absolute; right: -6px; top: -6px; width: 26px; height: 26px; border-radius: 50%; color: #fff; font-size: 16px; line-height: 26px; text-align: center; background: #eb6877;}
.util_menu .allmenu {background: url(../images/ico_allmenu.png) no-repeat;}
.util_menu .allmenu.on {background: url(../images/ico_allmenu_on.png) no-repeat;}

.container {min-height: calc(100vh - 360px);}
.content {min-height: 700px; padding-bottom: 100px;}

.sub_layout {border-top: 1px solid #cccccc;}
.sub_in { margin: 0px; padding: 0 50px;}

.layout {display: table; width: 100%; table-layout: fixed; margin:0px;  }
.layout_Login {display: table; width: 100%; table-layout: fixed; }
/* sub navigation */
.layout .nav {display: table-cell; width: 270px; padding-top: 70px; vertical-align: top; display:none;}
.layout .nav .inner {border: 1px solid #dde2e5; border-radius: 10px; box-shadow: 3px 8px 13px #ccc;}
.layout .nav h2 {padding: 21px 30px 21px 30px; background: url(../images/lnb_bg.png) no-repeat;  background-color: #1d59a8; text-align: center; border-radius: 10px; color: #fff; font-size: 24px;}

.layout .nav .inner > ul {padding: 26px 30px 27px 30px;}
.layout .nav .inner > ul > li + li {margin-top: 27px;}
.layout .nav .inner > ul > li > a {display: block; position: relative; color: #666; font-size: 17px; font-weight: 500;}
.layout .nav .inner > ul > li > a.cur {color: #222; font-weight: 700;}
.layout .nav .inner > ul > li > ul {margin-top: 10px;}
.layout .nav .inner > ul > li > ul > li a {display: block; color: #666; font-size: 16px; letter-spacing: -1px;}
.layout .nav .inner > ul > li > ul > li a.cur {color: #222; text-decoration: underline;}
.layout .nav .inner > ul > li > ul > li {position: relative; padding-left: 14px;}
.layout .nav .inner > ul > li > ul > li::before {content: ""; display: block; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 4px; height: 4px; background: #474747;}

.layout .content_wrap {display: table-cell; width: 100%; height:900px;}



/* popup */
.popup {z-index: 10; position: fixed; left: 0; top: 0; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, .7);}
.popup .pop_inner {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 400px; border-radius: 19px; background: #fff;}
.wrap_pop {padding: 20px;}
.pop_container {padding: 29px 40px;}
.pop_container .box_1 {padding: 26px; border: 1px solid #dde2e5; border-radius: 10px;}

.pop_header {position: relative; height: 94px; border-bottom: 1px solid #dde2e5;}
.pop_header h1 {padding: 42px 29px 0 29px; color: #222; font-size: 24px; font-weight: 700;}
.pop_header .close {display: block; position: absolute; right: 39px; top: 40px; width: 30px; height: 30px; font-size: 0; background: url(../images/ico_pop_close.png) no-repeat;}



/* location */
.location {height: 70px; padding-top: 42px; text-align: right;}
.location ul, .location ul li {display: inline-block; vertical-align: top;}
.location ul li {position: relative; color: #666; font-size: 14px;}
.location ul li + li::before {content: ""; display: inline-block; width: 4px; height: 7px; margin: 0 9px 0 3px; line-height: 18px; background: url(../images/ico_arrow_r_gray_4x7.png) no-repeat; vertical-align: 2px;}
.location ul li:last-child {color: #222; text-decoration: underline;}
.location ul li a {display: inline-block; color: #666; font-size: 14px;}
.location ul li a:hover {color: #222; text-decoration: underline;}
.location ul li a.home {position: relative; padding-left: 19px;}
.location ul li a.home::before {content: ""; display: block; position: absolute; left: 0; top: 3px; width: 14px; height: 13px; background: url(../images/ico_home.png) no-repeat;}


.footer {border-top: 1px solid #d7d7d7;}
.footer .inner {position: relative; margin: 0 auto;padding: 50px 50px;display: flex;}
.footer h1 a {display: block;}
.footer .mid {margin-left: 50px; color: #888; font-size: 16px;}
.footer .mid address {line-height: 26px;}
.footer .mid .copy {margin-top: 11px;}
.footer .right_col {margin-left: auto; float:none;}
.footer .right_col a {display: inline-block; height: 35px; vertical-align: top;}
.footer .right_col a + a {margin-left: 56px;}


@media screen and (max-width:1400px) {
	.header .inner {padding:0 20px;}
	.header .top_menu {right:20px;}
	.util_menu {right:20px;}
	.sub_in {padding:0 20px;}
	
	.footer .inner {flex-direction:column; align-items:center; padding:40px 20px;}
	.footer .mid {margin:20px 0 0 0;}
	.footer .mid address {text-align:center}
	.footer .right_col {margin:40px 0 0 0; padding:0;}
	.footer .mid .copy {text-align:center}
}
@media screen and (max-width:1024px)  {
	.content {padding-bottom:50px; padding-left:0 !important;}
	.sub_in {padding-left:20px !important;}
	.layout .content_wrap {height:auto;}
	.gnb {display:none;}
	.header .inner {height:100px;}
	.header .left_col {padding-top:50px}
	.header .left_col .logo a {width: 200px; display: block;}
	.header .left_col .logo a img {width:100%;}
	.util_menu {top:50px;}
	.util_menu ul li a.allmenu {width:40px; height:40px; background-size:100% auto !important;}
	.header .top_menu  {font-size:12px;top: 10px;}
	.header .top_menu .t {height: 24px; line-height: 24px;}
	.header .top_menu .btn {height:24px; line-height:24px;}
	.footer .banner_box ul li {width:150px;}
	.footer .right_col {width:320px;}
	.footer .mid .copy,
	.footer .mid address {font-size:14px; line-height:1.2}
	
	.location {height:auto;}
	.location ul li,
	.location ul li a {font-size:11px;}
	.location ul li + li::before {margin-right:4px;}
}


.all_menu{display:none;position:absolute;left:0;top:150px;width:100%;border-bottom:1px solid #ddd;z-index:99}
.all_menu>div{background:#fff}
.all_menu .inner{max-width:1200px;margin:0 auto;padding:0 16px;display:flex;flex-wrap:wrap;gap:16px}
.all_menu .inner>div{flex:0 0 205px;min-height:700px;padding:34px 10px 0 40px}
.all_menu .inner>div h2{color:#222;font-size:20px;font-weight:700}
.all_menu .inner>div h3{color:#777;font-size:17px;font-weight:300;font-weight: 500;}
.all_menu .inner>div ul li+li{margin-top:13px}
.all_menu .inner>div ul li a{color:#777;font-size:18px;font-weight:300}
.all_menu .inner>div ul li a:hover{color:#222;font-weight:400;text-decoration:underline}
.all_menu .inner>div ul+h3{margin-top:20px}
.all_menu .inner>div h2+h3{margin-top:30px}
.all_menu .inner>div h2+ul{margin-top:30px}
.all_menu .inner>div h3+ul{margin-top:12px}

.all_menu .inner>div.admin{background:#f2f2f2}
.all_menu .inner>div.admin h2{color:#004986}
.all_menu .inner>div.admin ul li{position:relative;padding-left:10px}
.all_menu .inner>div.admin ul li::before{content:"";position:absolute;left:0;top:12px;width:2px;height:2px;background:#666;display:block}
.all_menu .inner>div.admin ul li+li{margin-top: 4px;}
.all_menu .inner>div.admin ul li a{font-size: 14px;}

@media (max-width:1200px){
  .all_menu .inner{gap:12px}
  .all_menu .inner>div{min-height:auto;padding:24px 8px 16px 24px}
  .all_menu .inner>div h2{font-size:19px}
  .all_menu .inner>div ul li a{font-size:17px}
}

@media (max-width:1024px){
  .all_menu{top:100px;box-shadow: 0px 19px 20px 0px rgba(0, 0, 0, .1);border-bottom: 1px solid #ccc;}
  .all_menu .inner{max-width:none;padding:0;gap:0;flex-wrap:wrap}
  .all_menu .inner>div{flex:1 1 100%;width:100%;min-height:auto;padding: 6px 20px;border-top:1px solid #eee;background:#fff}
  .all_menu .inner>div.admin{background:#fff}
  .all_menu .inner>div.admin ul li a {font-size:12px;}
  .all_menu .inner>div h2{position:relative;font-size: 14px;display:flex;justify-content:space-between;align-items:center;padding:8px 0;cursor:pointer;}
  .all_menu .inner>div h2::after{ content:"▼";  font-size:13px; color:#888;  transition:transform 0.25s ease;}
  .all_menu .inner>div h2.active::after{content:"▲";color:#004986;/* transform:rotate(180deg); */}
  .all_menu .inner>div h3,
  .all_menu .inner>div h3+ul{display:none}
  .all_menu .inner>div ul{margin:8px 0 0 0;display:none}
  .all_menu .inner>div ul li+li{margin-top: 5px;}
  .all_menu .inner>div ul li a{font-size: 12px;}
	
  .all_menu .inner>div.open h3,
  .all_menu .inner>div.open h2+ul{display:block;margin-top: 10px;font-size: 14px;}
  
  .all_menu::before{content:"";position:fixed; top:0;left:0;width:100%;height:100vh;background:rgba(0,0,0,0.4);opacity:0;visibility:hidden;transition:all .3s ease; z-index:-1;}
  .all_menu.dim::before{opacity:1;visibility:visible;z-index:98;}
}


.tit_1 + .txt_1 {margin-top: 42px;}
.tit_1 + .tit_2 {margin-top: 25px;}
.txt_1 + .tit_2 {margin-top: 45px;}
.txt_2 + .condition {margin-top: 17px;}
.txt_2 + .condition2 {margin-top: 17px;}

.tit_2 + .condition {margin-top: 23px;}
.tit_2 + .condition2 {margin-top: 23px;}
.tit_2 + .board_view {margin-top: 43px;}
.tit_2 + .board_view2 {margin-top: 43px;}
.tit_2 + .tit_3 {margin-top: 35px;}
.tit_2 + .tit_4 {margin-top: 34px;}
.tit_2 + .txt_2 {margin-top: 19px;}

.tit_3 + .condition {margin-top: 23px;}
.tit_3 + .condition2 {margin-top: 23px;}
.tit_3 + .board_view2 {margin-top: 24px;}

.tit_4 + .board_view2 {margin-top: 25px;}
.tit_4 + .msg_1 {margin-top: 24px;}

.condition + .board_list {margin-top: 50px;}
.condition + .board_view2 {margin-top: 30px;}

.condition2 + .btn_area {margin-top: 30px;}

.board_list + .board_list_bot {margin-top: 40px;}
.board_list2 + .board_list_bot {margin-top: 20px;}

.board_view2 + .board_view_bot {margin-top: 40px;}
.board_view2 + .tit_4 {margin-top: 42px;}

.board_view2 + .board_view3 {margin-top: 30px;}
.board_view2 + .board_view4 {margin-top: 30px;}
.board_view2 + .board_top {margin-top: 42px;}

.board_view3 + .board_view_bot {margin-top: 30px;}
.board_view4 + .board_view_bot {margin-top: 30px;}

.board_attach + .board_view_bot {margin-top: 30px;}

.board_top + .board_list {margin-top: 24px;}

.condition + .board_list_top {margin-top: 30px;}
.condition2 + .board_list2 {margin-top: 20px;}
.condition2 + .board_list {margin-top: 30px;}
.condition2 + .board_list_top {margin-top: 30px;}
.board_list_top + .board_list {margin-top: 20px;}

.board_article + .board_view_bot {margin-top: 30px;}

.btn_area + .board_list {margin-top: 20px;;}
